.mainBackground {
    -fx-background-image: url('images/background.jpg');
    -fx-background-size: cover;
}

.leftForm {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.rightForm {
    -fx-background-color: rgba(0, 0, 0, 0.6);
}

.loginButton {
    -fx-background-color: #c90abd;
    -fx-background-radius: 45;
}

.loginButton:hover {
    -fx-background-color: #ff0ac6; /* Màu khi di chuột vào */
}

.forgotButton {
    -fx-background-color: transparent;
    -fx-text-fill: #a9a9a9;
    -fx-padding: 0;
    -fx-underline: true;
}

.forgotButton:hover {
    -fx-text-fill: white; /* Màu khi di chuột vào */
}

.signUpButton {
    -fx-background-color: transparent;
    -fx-text-fill: #ff4aa4;
    -fx-padding: 0;
}

.signUpButton:hover {
    -fx-text-fill: #ffb0d7; /* Màu khi di chuột vào */
}


.loginTextField {
    -fx-background-color: transparent; /* Make background transparent */
    -fx-border-color: #b39fa9; /* Add a line under the TextField */
    -fx-border-width: 0 0 1px 0; /* Set the width of the bottom border (underline) */
    -fx-padding: 5px; /* Padding to control spacing */
    -fx-prompt-text-fill: #8f858a;
    -fx-text-fill: #d6c5ce;
}

.loginTextField:focused {
    -fx-border-color: #e319ad;
}