.mainBackground {
    -fx-background-color: #ecf0f6;
}

.topText {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.menuButton {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-font-family: Arial, sans-serif; /* Chọn font chữ */
    -fx-font-size: 26px; /* Kích thước font chữ */
    -fx-font-weight: bold; /* Độ đậm của chữ */
    -fx-pref-width: 600px; /* Chiều rộng cố định */
    -fx-pref-height: 100px; /* Chiều cao cố định */
    -fx-alignment: CENTER_LEFT;
    -fx-background-radius: 25;  /* Bo tròn góc của background */
    -fx-border-radius: 30;      /* Bo tròn góc của viền nếu có */
    -fx-padding: 10 20;         /* Khoảng cách bên trong button */
    -fx-focus-traversable: false;
    -fx-cursor: HAND;
}

.menuButton:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

